@tailwind base;
@tailwind components;
@tailwind utilities;
.tapered-line {
  height: 200px;
  width: 40px; /* starting width at top */
  background: #000;
  clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);
  margin: 20px;
}
